/* The 'body' needs the parent element for the background image to scale correctly */

/* Add 'body' AND the parent element 'html'. Then the background image will scale scale*/

body, html {
  /* Fills entire browser when loaded */
  height: 100%;
  font-family: 'Alegreya Sans', sans-serif;
}

/* Desktop, screens less than 760px */

@media (max-width: 760px) {
  /* Screens above 760px will left align text */
  /* Center text on screens under 760px */
  #header {
    text-align: center;
  }
  #social {
    text-align: center;
  }
  /* auto fill both sides so the line shifts to the center*/
  #social hr , #who hr {
    margin: 8% auto;
  }
  /* centers text and button */
  #who {
    text-align: center;
  }
  #who img {
    margin-top: 15%;
  }
}

.navbar {
  background-color: rgba(21, 31, 33, 0.5);
  border-bottom: 1px solid #dedede;
  font-family: 'Alegreya Sans', sans-serif;
}

.navbar .navbar-nav .nav-link {
  color: #d1d1d1;
}

.navbar .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-toggler-icon {
  color: white;
}

/*HEADER*/

#header {
  background: url(../img/stars-bg.jpg) center center no-repeat;
  /*span the entire container*/
  background-size: cover;
  height: 100%;
  color: white;
  /* Enable a flex container for this element */
  display: flex;
  /* Center this section vertifcally and horizontally */
  align-items: center;
}

#header img {
  padding-bottom: 20px;
  /* Adjust size of image */
  width: 80%;
}

/* Add transparent background to header form section */

#header .header-right {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 10px;
}

#header .fas {
  margin: 5% 0;
}

/* Change color of font awesome icon */

#header a .fas {
  color: #fff;
}

#header a .fas:hover {
  color: #ccc;
}

/* SOCIAL */

#social {
  padding: 4.25rem 0;
}

#social .fa {
  font-size: 1.5em;
  color: #be2835;
  border: 2px solid #be2835;
  width: 60px;
  height: 60px;
  border-radius: 30%;
  text-align: center;
  padding: 30% 0;
  margin-top: 10px;
  /* Add fading transition while you hover */
  transition: all 0.4s ease-in-out;
}

#social .fa:hover {
  color: #fff;
  background: #be2835;
}

/* WHO */

#who {
  padding: 5rem 0;
  background-color: #f6f6f6;
}

#who .btn-who {
  background-color: #be2835;
  color: #fff;
  width: 50%;
}

#who .btn-who:hover {
  background-color: transparent;
  border: 1px solid #be2835;
  color: #be2835;
  /* fading transition*/
  /* already applied in global bootstrap css, but this is what it looks like*/
  /*transition: all .15s ease-in-out;
}
